@import "tailwindcss";

body {
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #030712,
    #111827
  );
  color: #f9fafb;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4ade80;
  border-radius: 10px;
  border: 2px solid #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4ade80 #1f1f1f;
}

.safe-top {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}